# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# If you want this application to work properly, i.e. display Google Maps, you need to create a file called '.env' in the root directory.
# In it you need to put the 'GOOGLE_API_KEY' key, which you can get after creating an account on Google Cloud Platform,
# creating a project in it and starting Google Maps API services. The '.env' file should therefore look like this:
# GOOGLE_API_KEY = [YOUR_GOOGLE_API_KEY]
.env

/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
